---
import { Icon } from "astro-icon";
import Tooltip from "~/components/Tooltip/Tooltip.astro";

const { code, lang, fileName } = Astro.props;
---

<div class="relative card border bg-base-100">
  <div class="py-2 px-2 flex justify-between items-center border-b">
    <div class="flex justify-center items-center gap-3">
      {
        fileName && (
          <>
            <p class="text-base font-semibold">{fileName}</p>
            <Tooltip>
              <button
                data-tooltip-element
                data-copy-btn-code={fileName}
                class="btn btn-ghost btn-sm"
              >
                <Icon pack="radix-icons" name="clipboard" class="w-4" />
              </button>
              <span slot="tooltip-content">Copy file name</span>
            </Tooltip>
          </>
        )
      }
    </div>
    <Tooltip>
      <button
        data-tooltip-element
        data-copy-btn-code={code}
        class="btn btn-ghost btn-sm"
      >
        <Icon pack="radix-icons" name="clipboard" class="w-4" />
      </button>
      <span slot="tooltip-content">Copy code</span>
    </Tooltip>
  </div>
  <!-- <Code code={code.trim()} lang={lang} theme="css-variables" /> -->

  <pre><code class={`language-${lang}`}>{code.trim()}</code></pre>
</div>

<script>
  const buttons = document.querySelectorAll("[data-copy-btn-code]");

  buttons.forEach((button) => {
    button.addEventListener("click", (e) => {
      if (!e.target) {
        return;
      }

      if (!(e.target instanceof Element)) {
        return;
      }

      const button = e.target.closest("button");

      if (!button) {
        return;
      }

      if (!(button instanceof HTMLButtonElement)) {
        return;
      }

      const code = button.dataset.copyBtnCode;

      if (!code) {
        return;
      }

      navigator.clipboard.writeText(code);
    });
  });
</script>
