---
import { Icon } from "astro-icon";
import {
  calculateJobStartandEndDate,
  getTypeFormat,
  period,
  showDate,
} from "@/modules/resume/utils";
import type { Experience } from "@/modules/resume/types";

export type Props = Experience;

const props = Astro.props;

const { startDate, endDate } = calculateJobStartandEndDate(props.jobTitles);
---

<div class="p-3 pt-1 rounded-md">
  <div class="flex column justify-between">
    <div class="flex gap-3 items-center">
      <h3
        class="flex gap-3 items-center text-xl md:text-xl leading-tight mb-2 text-zinc-900 dark:text-zinc-50"
      >
        {props.company}
      </h3>
      {
        props.linkedin && (
          <a
            class="text-zinc-900 dark:text-zinc-50"
            target="_blank"
            href={props.linkedin}
          >
            <Icon name="brandico:linkedin-rect" class="w-4 md:w-5" />
          </a>
        )
      }
    </div>
    <div>
      <p class="text-sm text-zinc-900 dark:text-zinc-50">
        {getTypeFormat(props.type) + " · "}{
          period({ start: startDate, end: endDate })
        }
      </p>
      <p class="text-sm text-zinc-900 dark:text-zinc-50">
        {showDate(startDate)} - {showDate(endDate)}
      </p>
    </div>
  </div>
  <div class="flex gap-2 pt-2">
    <div class="flex py-1">
      <div class="divider divider-horizontal w-min text-xs m-0"></div>
    </div>
    <div class="flex flex-col gap-2">
      {
        props.jobTitles.map((jobTitle) => (
          <div class="flex flex-col">
            <p class="text-base font-bold text-zinc-900 dark:text-zinc-50">
              {jobTitle.title}
            </p>
            {jobTitle.description && (
              <p class="text-base text-zinc-900 dark:text-zinc-50">
                {jobTitle.description}
              </p>
            )}
            <div>
              <p class="text-sm text-zinc-900 dark:text-zinc-50">
                {jobTitle.location}
              </p>
              <p class="text-sm text-zinc-900 dark:text-zinc-50">
                {showDate(jobTitle.startDate)} - {showDate(jobTitle.endDate)}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
